.btn {
  border-radius: 15px;
  border: 1px solid #dc999b;
  font-size: 1.15em;
  height: auto;
  padding:5px 15px;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  width:fit-content;
}

.btn.primary {
  color: #A80006;
  font-weight: bold;
  background: #FFF;
}

.btn.primary a {
  color: #A80006;
  font-weight:bold;
}

.btn.secondary {
  color: #0A0001;
  font-weight: bold;
  background: #E4B2B4;
}

.btn.secondary a {
  color: #0A0001;
  font-weight:bold;
}

.btn.disabled {
  opacity:0.75;
  cursor:no-drop;
}

.btn.shadow {
  box-shadow: 1px 1px 2px 1px #dcdcdc;
}

.btn.pool {
  font-size: 1em;
}

.btn.pools {
  font-size: 1em;
}
