.ant-card {
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  height: 100%;
  padding: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  color: #A80005;
}

.ant-card-head {
  padding: 5px;
}

.ant-card-body {
  padding:10px;
}

.cntr {
  text-align: center;
}

.leftbar {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
  border-right: 0;
  margin-left: 10%;
}

.rightbar {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left:0;
  text-align: center;
  margin-right: 10%;
}
