.header {
  padding:0;
  background:#0A0001;
}

.ant-menu {
  background:#0A0001;
}

.header .ant-menu-item a {
  color:#C7692B;
  border-bottom:none;
}

.header-logo {
  text-align: center;
}

.header .ant-menu-item a:hover {
  color:#A80005;
}

#header .ant-menu-item-selected {
  color:#A80005;
  border-bottom: 2px solid #A80005;
}

#header .ant-menu-item-active {
  color:#A80005;
  border-bottom: 2px solid #A80005;
}
