.ant-layout-sider-zero-width-trigger, .ant-layout-sider-zero-width-trigger:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #000;
  position: fixed;
  top:20px;
  left:0px;
}

.ant-layout-sider {
  padding:20px 0px;
  background-color: #000;
  min-height: 100vh;
  margin-top: 20px;
}

.ant-menu {
  padding-top: 20px;
  background-color: #000;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  max-width:90%;
  margin:auto;
}

.ant-menu-item a {
  color:#C7692B;
  font-weight: bold;
}

.ant-menu-item a:hover {
  color:#000;
  font-weight: bold;
}

.ant-menu-item:hover {
  background-color: #D7966A;
  border-radius: 10px;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #000;
}

.ant-menu-item-selected, .ant-menu-item-selected:hover {
  background-color: #C7692B;
  border-radius: 10px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #C7692B;
  border-radius: 10px;
}

.ant-menu-item .anticon {
  font-size:1em;
}

.ant-menu-inline .ant-menu-item::after {
  border:0;
}

.ant-menu-inline {
  border: none;
}
