@media only screen
and (device-width: 320px){
    .btn {
        padding: 6px 1px;
        font-size: 0.62rem;

    }




}


.btn-li {

    border-radius: 11px;
    border: 1px solid #ffffff;
    margin-top: 22px;
}