.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(./assets/font/Spartan-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #C7692B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #0A0001;
  color: white;
}

ul li {
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  line-height: 2;
}
/* p,label,a,b,i {
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
} */

h1,h2,h3,h4,h5,
button {
  font-family: 'Spartan', sans-serif;
}

h1 {
  color: '#A80005'
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}


/* .ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: #0A0001;
  line-height: 64px;
  background: #0A0001;
} */

/* .ant-drawer-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}

.ant-table-cell{
  padding:'0px'
} */