:root {
    --black: #000000;
    --textColor: white;
    --greyText: white;
    /* for setting css on <html> */
    --backgroundColor: #333639;
    --modalBackground: rgba(0,0,0,0.6);
    --inputBackground: #202124;
    --placeholderGray: #5F5F5F;
    --shadowColor: #000;
    /* grays  */
    --concreteGray: #292C2F;
    --mercuryGray: #333333;
    --silverGray: #737373;
    --chaliceGray: #7B7B7B;
    --doveGray: #C4C4C4;
    --mineshaftGray: #E1E1E1;
    --activeGray: #292C2F;
    --buttonOutlineGrey: #FAFAFA;
    --tokenRowHover: #404040;
    /*blacks*/
    --charcoalBlack: #F2F2F2;
    /* blues  */
    --zumthorBlue: #212529;
    --malibuBlue: #E67AEF;
    --royalBlue: #DC6BE5;
    --loadingBlue: #e4f0ff;
    /*  purples */
    --wisteriaPurple: #DC6BE5;
    /* reds  */
    --salmonRed: #FF6871;
    /* orange  */
    --pizazzOrange: #FF8F05;
    /* yellows  */
    --warningYellow: #FFE270;
    /* pink  */
    --uniswapPink: #DC6BE5;
    /*green*/
    --connectedGreen: #27AE60;
    /* branded  */
    --metaMaskOrange: #E8831D;
    /* custom */
    --sandBland: #d2d2c9;
    --spartanRed: #a80005;
    --pageBackground: #050303;
    /*radial-gradient(50% 50%, rgba(255, 0, 122, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);*/
    --buttonOrange: #c7692b;
    --spartanGrey: #110d01;
}




@font-face {
    font-family: 'Spartan';
    src: local('Spartan'), url(./assets/font/Spartan-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.border {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}


ul li {
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    line-height: 2;
}

p, label, a, b, i {
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Spartan",sans-serif;
    font-size: 40px;
    color: var(--spartanRed);
    font-weight: 700;
}

h2 {
    font-family: "Spartan",sans-serif;
    font-size: 40px;
    color: var(--spartanRed);
    font-weight: 700;
}



h3, h4, h5 {
    font-family: 'Spartan', sans-serif;
}

h2, h5 {
    font-size: 25px;
}

h3, h4 {
    font-size: 15px;
}

.textBox {
    margin-left: 15px;
    padding: 1px;
}

.arrow {
    width: 0px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
}

.outerContainer {
    color: var(--textColor);
    background-color: var(--pageBackground);
    margin: auto;
    width: 500px;
    border-radius: 2rem;
    border: 0px solid #292C2F;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.19);*/
}

.container2 {
    color: var(--textColor);
    background-color: var(--spartanGrey);
    margin: 15px;
    border-radius: 2rem;
    border: 0.5px solid #292C2F;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

input {
    width: 320px;
    height: 30px;
    border-radius: 0.5rem;
}

button3 {
    background-color: var(--spartanGrey);
    color: var(--buttonOrange);
    width: 0;
    border-radius: 2rem;
    border: 1px solid;
    font-size: 16px;
    padding: 5px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

button2 {
    background-color: var(--buttonOrange);
    color: white;
    width: 150px;
    border-radius: 0rem;
    text-align: center;
    font-size: 18px;
    padding: 5px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button1 {
    background-color: var(--spartanGrey);
    color: var(--textColor);
    width: 0;
    border-radius: 0rem;
    border: 1px solid var(--buttonOrange);
    margin:auto;
    font-size: 16px;
    padding: 5px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer {
    width: 100%;
    min-height: 40px;
    align-self: flex-end;
    background-color: var(--spartanGrey)
}

header {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    background-color: var(--uniswapPink);
    color: var(--malibuBlue);
    font-weight: 400;
    text-align: center;
}

/* SIDEPANEL CODE ______________________________________________________*/

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 800px;
    top: 0;
    right: 0;
    background-color: #e8e8e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 1.25rem;
    border: 2px solid var(--spartanRed);
}

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 35px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidepanel a:hover {
            color: #f1f1f1;
        }

    .sidepanel .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 15px;
    }
/* ______________________________________________________*/
.flexbox_1 {
    display: flex;
    justify-content: center;
}

.centerObject {
    text-align: center;
    margin: auto;
    border: 0px solid green;
    width: 100%;
    padding: 30px;
}

.centerObject2 {
    text-align: center;
}

walletTable {
    width: 100px;
    text-align: center;
    margin: auto;
}

/* Dropdown Button */
