@import "./ui/css/general.css";
@import "./ui/css/card.css";
@import "./ui/css/font.css";
@import "./ui/css/button.css";
@import "./ui/css/table.css";
@import "./ui/css/sidebar.css";
@import "./ui/css/wallet.css";
